/*

  Theme: NBA Stars
  Version: 1.0.0
  Author: @fernandoajn

*/
body {
  font-family: 'Noto Sans KR', sans-serif;
  background: rgba(0, 0, 0, 0.9) url("https://cdn.hipwallpaper.com/i/7/75/VUov1P.jpg") no-repeat fixed center;
  background-size: cover;
  background-blend-mode: darken; }

a {
  text-decoration: none;
  color: #FFF; }

a:hover {
  text-decoration: underline; }

.navbar {
  width: 100%;
  height: 50px;
  color: #FFF;
  padding: 0 2%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .navbar a {
    color: #FFF; }
  .navbar h1 {
    font-weight: bold; }

.nav-menu {
  display: flex;
  justify-content: space-around;
  width: 15%;
  align-items: center; }

.nav-item {
  background: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  transition: 0.3s;
  border-radius: 5px;
  box-sizing: border-box; }
  .nav-item:hover {
    background: #C71A33; }
  .nav-item a:hover {
    text-decoration: none; }

.btn-logout {
  border: 0;
  background: none;
  color: #FFF;
  font-size: 1.01em;
  border-radius: 5px;
  transition: 0.3s;
  box-sizing: border-box;
  padding: 5px 15px;
  display: inline; }
  .btn-logout:hover {
    background-color: #C71A33;
    cursor: pointer; }

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3% 0;
  height: 80vh;
  color: #FFF; }
  .container span {
    font-size: 3em; }

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 2% 3%;
  color: #FFF; }
  .content span {
    font-weight: bolder;
    line-height: 1.5em; }
  .content small {
    line-height: 1.2em;
    text-align: center; }

.main {
  display: flex;
  align-items: center; }

.char {
  height: 300px;
  filter: grayscale(0.5); }

.form {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 20px; }
  .form input, .form select {
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 0.9em;
    margin: 5px 0;
    padding: 10px; }
  .form input {
    text-align: center;
    width: 300px; }
  .form select {
    background-color: white; }

.btn {
  border: 0;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 5px;
  padding: 10px;
  margin: 5px 0;
  font-size: 0.9rem;
  text-align: center; }

.btn-primary {
  background-color: #244187;
  color: #FFF; }

.btn-secondary {
  background-color: #C71A33;
  color: #FFF; }

.link {
  font-weight: bold; }

.v1 {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  height: 40vh;
  margin: 0 10px; }

.sobre {
  text-align: center;
  width: 70%; }
  .sobre h1 {
    font-size: 3em;
    line-height: 1.5em;
    font-weight: bolder; }
  .sobre p {
    font-size: 1.2em;
    line-height: 1.2em; }
  .sobre a {
    color: #ccc; }

.cpanel {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box; }

.players-list {
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  line-height: 2em;
  border-collapse: collapse; }
  .players-list th {
    font-weight: bold;
    background-color: #244187;
    padding: 5px 10px; }
  .players-list th:nth-child(1) {
    border-top-left-radius: 10px; }
  .players-list th:nth-child(6) {
    border-top-right-radius: 10px; }

.fluid {
  flex-direction: row;
  width: 75%; }

.btn-none {
  background: rgba(0, 0, 0, 0.1);
  border: none;
  color: #FFF;
  font-size: 1.0em;
  cursor: pointer; }

.task-title {
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 10px;
  text-align: center; }

.username {
  display: inline;
  text-transform: capitalize; }

.footer {
  width: 100%;
  background-color: #244187;
  position: absolute;
  bottom: 0;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4vh; }
  .footer a:hover {
    text-decoration: underline; }

/*# sourceMappingURL=style.css.map */
