body {
  font-family: 'Noto Sans KR', sans-serif;
  background: rgba(0, 0, 0, 0.8) url("https://cdn.hipwallpaper.com/i/7/75/VUov1P.jpg") no-repeat fixed center; 
  background-size: cover;
  background-blend-mode: darken;
}

a {
  text-decoration: none;
  color: $branco;
}

a:hover {
  text-decoration: underline;
}