html {
  height: 100%;
  overflow-x: none;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  background: rgba(0, 0, 0, 0.9) url("https://cdn.hipwallpaper.com/i/7/75/VUov1P.jpg") no-repeat fixed center; 
  background-size: cover;
  background-blend-mode: darken;
}

a {
  text-decoration: none;
  color: $branco;
}

a:hover {
  text-decoration: none;
}


.msg {
  text-align: center;
  padding: .5em 1em;

  &-success {
    background-color: forestgreen;
    border: 1px solid green;
  }

  &-error {
    border: 1px solid #c0392b;
    background-color: crimson;
  }
}