.cpanel {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  max-height: 70vh;
  box-sizing: border-box;
  overflow-x: auto;

  @media #{$mq-mobile} {
    justify-content: center;
  }

  &::-webkit-scrollbar {
    width: 5px;

    &-track {
      background: #f1f1f1;
    }

    &-thumb {
      background-color: $vermelho;
    }
  }
}

.players-list {
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  line-height: 2em;
  border-collapse: collapse;

  & th {
    font-weight: bold;
    background-color: $azul;
    padding: 5px 10px;
  }
  
  & tr:hover {
    background-color: rgba($color: #f1f1f1, $alpha: 0.1);
    cursor: pointer;
  }
  
  @media #{$mq-mobile} {
    font-size: 0.8em;
  }
}

.fluid {
  flex-direction: row;
  width: 80%;
  
  @media #{$mq-mobile} {
    flex-direction: column;
    width: 100%;
    display: none;
  }
}

.btn-none{
  background: rgba($color: #000000, $alpha: 0.1);
  border: none;
  color: $branco;
  font-size: 1.0em;
  cursor: pointer;
}

.task-title {
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 10px;
  text-align: center;
}

.username {
  display: inline;
  text-transform: capitalize;
}

.modal-hide {
  display: none;  
}

.modal-show {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: rgba($color: #000, $alpha: 0.8);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  animation-duration: 0.3s;
  animation-name: slideTop;
  z-index: 1;
}

.modal-content {
  border-radius: 10px;
  background-color: rgba($color: #ccc, $alpha: 0.5);
  padding: 0 3em;
}

.modal-toggler {
  cursor: pointer;
  border: 0;
  outline: 0;
  color: white;
  position: relative;
  display: block;
  bottom: 160px;
  left: 40px;
  font-weight: bold;
}

@keyframes slideTop {
  from {top: -1000px; opacity: 0};
  to {top: 0; opacity: 1};
}

@keyframes backToTop {
  from {top: 0; opacity:1};
  to {top: -1000px; opacity: 0; display: none};
}