.cpanel {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}

.players-list {
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  line-height: 2em;

  & th {
    font-weight: bold;
    background-color: $vermelho;
    padding: 5px 10px;
  }
}

.div-2 {
  flex-direction: row;
  width: 70%;
}

.btn-none{
  background: rgba($color: #000000, $alpha: 0.1);
  border: none;
  color: $branco;
  font-size: 1.0em;
  cursor: pointer;
}