.cpanel {
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}

.players-list {
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  line-height: 2em;

  & th {
    background-color: $vermelho;
    padding: 5px 10px;
  }
}