.footer {
  width: 100%;
  background-color: $azul;
  position: fixed;
  bottom: 0;
  color: $branco;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4vh;

  & a:hover {
    text-decoration: underline;
  }

  @media #{$mq-mobile} {

    & .nome {
      display: none;
    }
  }
}