.navbar {
  width: 100%;
  height: 50px;
  color: $branco;
  padding: 0 2%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;

  & a {
    color: $branco;
  }

  & h1 {
    font-weight: bold;
  }

  @media #{$mq-mobile} {
    justify-content: center;
    padding: 0;
    
    & h1 {
      display: none;
    }
  }
}

.nav-menu {
  display: flex;
  justify-content: space-around;
  width: 20%;
  align-items: center;

  @media #{$mq-mobile} {
    display: none;
  }
}

.nav-item {
  background: rgba($color: black, $alpha: 0.5);
  padding: 10px 20px;
  transition: 0.3s;
  border-radius: 5px;
  box-sizing: border-box;
  
  &:hover {
    background: $vermelho;
  }
  
  & a:hover {
    text-decoration: none;
  }

}

.navbar-toggle {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  color: rgba(255,255,255,0.8);
  font-size: 24px;
  cursor: pointer; 

  @media #{$mq-mobile} {
    display: block;
  }
}

.btn-logout {
  border: 0;
  background: none;
  color: $branco;
  font-size: 1.01em;
  border-radius: 5px;
  transition: 0.3s;
  box-sizing: border-box;
  padding: 5px 15px;
  display: inline;

  &:hover {
    background-color: $vermelho;
    cursor: pointer;
  }
}

.active {
  display: flex;
}

